
@model DMCProject1.Helpers.PatternColorCollectionItem

@using (Html.BeginCollectionItem("colors"))
{
    <tr>
        <td>
            @Html.HiddenFor(m => m.PCId)
            @Html.HiddenFor(m => m.PCId)
            @Html.TextBoxFor(m => m.DmcId, new { id = "textBoxDmcId_" + @Model.PCId})
        </td>
        <td>
            @Html.TextBoxFor(m => m.NumStitches)
        </td>
        <td id="BG-Color_@Model.PCId" style="background-color:@Model.HexaDecimal">
           
        <td>
            <button type="button" id="removeItem_@Model.PCId">Delete</button>
        </td>



    </tr>

    <script>
        $("#removeItem_@Model.PCId").on('click', function (e) {
            $(this).closest('tr').remove();
            console.log(e);
        });


        $("#textBoxDmcId_@Model.PCId").on('input', function (e) {
            $.ajax({
                type: "POST",
                url: '/DmcColor/GetHexadecimal?DmcId=' + e.target.value,
                success: function (hexadecimal) {
                    $("#BG-Color_@Model.PCId")[0].style.backgroundColor = hexadecimal;
                }
            });
        });

    </script>
}