@model IEnumerable<DMCProject1.Helpers.PatternColorCollection>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pattern</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Pattern Name")
        </dt>

        <dd>
            @* Why doesn't this work?!*@
           @*@Html.DisplayFor(model => model.Name) *@
        </dd>

    </dl>
    <table>
        <tr>
            <th width="200">
                @Html.DisplayNameFor(model => model.DmcId)
            </th>
            <th width="200">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th width="100">
                @Html.DisplayName("Color")
            </th>
        </tr>

        @foreach (var item in Model)
        { <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DmcId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="background-color:@item.HexaDecimal"
                    width="100">
                    @Html.DisplayFor(modelItem => item.HexaDecimal)
                </td>
            </tr>
        }
        </table>
</div>
<p>
    @* @Html.ActionLink("Edit", "Edit", new { id = Model.PatternId }) | *@
    @Html.ActionLink("Back to List", "Index")
</p>
