@model DMCProject1.Helpers.PatternColorCollection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pattern</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Pattern Name")
        </dt>

        <dd>
           @Html.DisplayFor(model => model.PatternName)
        </dd>

    </dl>
    <table>
        <tr>
            <th width="200">
                @Html.DisplayName("DMC Id")
            </th>
            <th width="200">
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Number of Stitches")
            </th>
            <th width="100">
                @Html.DisplayName("Color")
            </th>
        </tr>

        @foreach (var item in Model.Items)
        { <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DmcId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td width="200">
                    @Html.DisplayFor(modelItem => item.NumStitches)
                </td>
                <td style="background-color:@item.HexaDecimal"
                    width="100">
                    @Html.DisplayFor(modelItem => item.HexaDecimal)
                </td>
            </tr>
        }
        </table>
</div>
<p>
    @* @Html.ActionLink("Edit", "Edit", new { id = Model.PatternId }) | *@
    @Html.ActionLink("Back to List", "Index")
</p>
