@model DMCProject1.Helpers.PatternCollection

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@*TODO: change edit so that colors already in the pattern can be changed. Now changes are not saved, only new colors.*@

@using (Html.BeginForm("Edit", "Pattern", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Pattern</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.pattern.PatternId)

    <div class="form-group">
        @Html.LabelFor(model => model.pattern.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pattern.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.pattern.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <table id="colors">
            <tbody>
                <tr>
                    <td>
                        @Html.Label("Dmc Id")
                    </td>
                    <td>
                        @Html.Label("Number of Stitches")
                    </td>
                    <td>
                        @Html.Label("Color")
                    </td>
                </tr>
                        @foreach (var color in Model.colors)
                        {
                            
                            @Html.Partial("ColorRow", color)
                            
                        }
                </tbody>
        </table>
    </div>

    <button type="button" id="addColor">Add Color</button>

    <script>
        $("#addColor").on("click", function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddColor", "Pattern", new { patternId = Model.pattern.PatternId })',
                success: function (partialView) {
                    $('#colors> tbody:last-child').append("<tr>" + partialView + "</tr>");
                }
            });
        });
    </script>

    @*
        <script>
            $('body').on("click", '*[data-action="removeItem"]', function (e) {
                e.stopPropagation();
                var btn = $(this);
                var row = btn.closest('tr');
                var firstCell = $(row.find('td')[0]);
                var checkBox = firstCell.find('*[data-is-deleted]');
                var checkBoxVal = checkBox.val();

                if (checkBoxVal === 'False' || checkBox.val() === 'false') {
                    checkBox.val('true');
                    row.find('td').find('input, textarea, select').attr('readonly', 'readonly');
                } else {
                    checkBox.val('false');
                    row.find('td').find('input, textarea, select').attr("readonly", false);
                }

            });
        </script>
    *@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
