@model IEnumerable<DMCProject1.Models.Pattern>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Here all your patterns are displayed. Click on "Create New" to add a new pattern to your collection!</p>
<p>It is also possible to edit an existing pattern. When you click on "Details" you can see the colors that are in that pattern.</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PatternId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PatternId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PatternId })
        </td>
    </tr>
}

</table>
