@model DMCProject1.Models.DmcColor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DmcColor</h4>
    <table>
        <tr>
            <th width="200">
                @Html.DisplayNameFor(model => model.DmcId)
            </th>

            <td width="200">
                @Html.DisplayFor(model => model.DmcId)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayName("Color")
            </th>

            <td style="background-color:@Model.HexaDecimal"
                width="100">
            </td>
        </tr>
    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
