@model IEnumerable<DMCProject1.Models.DmcColor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DmcId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayName("Color")
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DmcId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td style="background-color:@item.HexaDecimal"
        width="100">
        @Html.DisplayFor(modelItem => item.HexaDecimal)

        @*Html.color=@item.getHtmlColorString()>
        @*Html.(model => item.HexaDecimal)
        @*Html.Displaystyle='color:@item.HexaDecimal'
        @*Html.DisplayFor(color:item.HexaDecimal)

        @*Still need to make a colorsquare here*@

    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.DmcId })
    </td>
</tr>
}

</table>
