@model IEnumerable<DMCProject1.Models.DmcColor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>These are all the available DMC colors.</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("DmcID", "Index", new { sortOrder = ViewBag.DMCSortParm })
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Color", "Index", new { sortOrder = ViewBag.HexaSortParm })
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DmcId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td style="background-color:@item.HexaDecimal"
        width="100">
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.DbId })
    </td>
</tr>
}

</table>
