@model DMCProject1.Helpers.ColorCollection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


    <h4>UserColor</h4>
    <table>
        <tr>
            <th width="200">
                @Html.DisplayNameFor(model => model.DmcId)
            </th>

            <td>
                @Html.DisplayFor(model => model.DmcId)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>

            <td>
                @Html.DisplayFor(model => model.Amount)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayName("Color")
            </th>

            <td style="background-color:@Model.HexaDecimal"
                width="100">
            </td>
        </tr>
    </table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ColorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
