@model IEnumerable<DMCProject1.Helpers.ColorCollection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Here you can put all your available DMC colors. Click "Create New" to add a new color to your collection!</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DmcId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th> 
            @Html.DisplayName("Color")
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DmcId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td style="background-color:@item.HexaDecimal">
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ColorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ColorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ColorId })
        </td>
    </tr>
}

</table>
